# REFI ALPHA - Configuration FILE
# use this and uncomment line of load_envfile() in @ui_pyqt/__main__.py.main()
# for api persistance. Deactivated by default.

# Google GenAI 
GOOGLE_API_KEY=your_api_key

# OpenAI
OPENAI_API_KEY=your_api_key

# CLaude
ANTHROPIC_API_KEY=your_api_key
