# REFI ALPHA - Configuration FILE
# Variables are loaded automatically when the app starts.
# Add your API keys here to avoid entering them in the UI every time.

# Google GenAI 
GOOGLE_API_KEY=your_api_key

# OpenAI
OPENAI_API_KEY=your_api_key

# CLaude
ANTHROPIC_API_KEY=your_api_key
